<p>Dear <%= @user.name %>.</p>

<p>We are humbled and joyful that you have chosen to sign up for our service. We will now start sending you activity
suggestions at your preferred time of receival. You can always edit this preference, and all your preferences, from your dashboard on
 https://small-things-app.herokuapp.com, where you can also track your current progress and see a breakdown of your chosen activities and their
 categories.
</p>

<p>Warmest regards</p>
<p>The Small Things Team</p>
