.loginpage {
  .login-page {
    width: 600px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    font-size: 20px;
    position: relative;
    z-index: 1;
    background: #baabda;
    max-width: 600px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #d3f4ff;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #a9fffd;
  }
  .form .message {
    margin: 15px 0 0;
    color: white;
    font-size: 12px;
  }
  .form-control {
    font-size: large;
  }
  .form .message a {
    color: #6807f9;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
}

body.loginpage {
  background-color: #f6e5f5;
}


.umumi span {
  color: white;
  display: block;
  text-transform: uppercase;
}
.umumi span {
  color: white;
  display: block;
}

.umumi {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  color: transparent;
}
.text1 {
  /*margin-bottom: 40px;*/
  background-color: #7e0cf5;
  width: 100%;
  font-size: 35px;
  letter-spacing: 5px;
  position: relative;
  animation: text 3s 1;
  font-weight: 700;
  margin-top: 40px;
}
.text2 {
  font-size: 25px;
  color: black !important;
  font-weight: 700;
  letter-spacing: 8px;
}
@keyframes text {
  0%
  {
    color: black;
    margin-bottom: -40px;
  }
  30%
  {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  65%
  {
    letter-spacing: 8px;
    margin-bottom: -40px;
    display: none !important;
  }
  }
