.mybutton {
  height: 80px;
  width: 140px;
  margin: 15px;
  font-size: 12px;
  font-color: white;
  background-color: #ecfcff;
  border:1px solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.mybutton2 {
  height: 80px;
  width: 140px;
  margin: 15px;
  background-color: #b2fcff;
  border: 1px solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.mybutton3 {
  height: 80px;
  width: 140px;
  margin: 15px;
  background-color: #edb5f5;
  border: 1px solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
