.card_count {
  text-align: left;
  border: dotted 1px;
  border-radius: 0.5em;
  border-color: gray;
  padding: 2%;
  margin-top: 1px;
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  font-size: 16px;
}
