#feed {
  overflow-y: scroll;
  height: 900px;
  margin-top: 23px;
}

#activity_card {
  width: 100%;
  background: white;
  padding: 10px 20px;
  margin-top: 6px;
  border-radius: 5%;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  background-color: #FFFFFF;
  border-style: black;
  padding: 10px 20px;
  overflow-y: auto;
  flex: 1;
    &:hover {
    transform: scale(1.02);
  }
}

#activity_card h4 {
  text-align: left;
}

.card-block {
  text-align: left;
}

.category_img {
  text-align: right;
  padding-left: 70%;
}

.row {
  height: 25px;
}





