#activity_card {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 5%;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  background-color: #FFFFFF;
  border-style: black;
  padding: 10px 40px;
  overflow-y: auto;
  flex: 1;
    &:hover {
    transform: scale(1.02);
  }
}

#activity_card h2 {
  text-align: center;
}

.card-block {
  text-align: left;
}

.category_img {
  text-align: right;
}

.badge {
  display: flex;
  justify-content: right;
}

