.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon img {
height: 60px;
border-radius : 50%;
}

.navbar-brand img {
  border-radius: 50%;
}

.btn {
  background-color: white;
  color: #1A0937;
  border-radius: 12%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: #1A0937;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.profile_picture {
  border-radius: 50px;
}

.btn a {
  color: #633a82;
}

