<div class="container">
  <h1>My categories:</h1>
  <div>
    <% @other_categories.each do |category| %>  <!-- Begin iteration -->
      <p> <%= category.title %> </p>
    <% end %> <!-- End of iteration logic -->
  </div>
</div>
