<br>
<br>
<div class="text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">Your Activity has to be approved by one of our admins
    <br>
  We will send you an email once it's approved.</p>
  <hr>
  <div class="lead">
    <a class="btn btn-primary btn-sm" <%= link_to "Go back to your dashboard", dashboard_path %>
